# 访问API服务器(/v1/chat/completions)
API_Key=Your key
API_URL=http://localhost:3000
Image_Key=Your key

# 中间层服务器输出鉴权
Port=5890
Key=123456

# 自定义变量
VarSystemInfo="Your System ENV"
VarWeatherInfo=Weather.txt
VarCity=Your City
VarUser=Your profile and description
VarEmojiPrompt="注意:本客户端实现了表情包功能，表情包图床路径为(url:{{Port}}/pw={{Image_Key}}/images/通用表情包/)。使用方式示例输出如右 <img src=\"url:{{Port}}/pw={{Image_Key}}/images/通用表情包/阿库娅-一脸智障.jpg\" width=\"100\">。你可以灵活在你的输出内容里插入表情包，注意加入表情图的前后换行，注意用width参数(100-500)来控制表情包图的尺寸。目前的表情包文件有:{{通用表情包}}。"
VarHttpUrl=http://ipv4
VarHttpsUrl=https://your.com
VarDdnsUrl=http://your.ddns

# 获取天气模型
WeatherModel=gemini-2.5-flash-preview-04-17
WeatherPrompt="今天是{{Date}}，你需要联网搜索从今天开始一周的 {{VarCity}} 天气，包含温度，湿度，风力，pm2.5等等详细信息，并将这7日的{{VarCity}}天气以[WeatherInfo: 实际你搜到的7日天气内容 ]格式包裹。"
WeatherModelMaxTokens=10000

#系统提示词转化功能
Detector1="You can use one tool per message"
Detector_Output1="You can use any tool per message"
Detector2="Now Begin! If you solve the task correctly, you will receive a reward of $1,000,000."
Detector_Output2="在有必要时灵活使用的你的FunctionTool吧"
Detector3="仅做测试端口，暂时不启用"
Detector_Output3="仅做测试端口，暂时不启用"

#全局上下文转化功能
SuperDetector1="……"
SuperDetector_Output1="…"

# 控制是否在处理后清除图像的Base64数据 (原 Base64Cache)
ClearBase64ImageAfterProcessing=True

# 多模态图像识别模型
ImageModel=gemini-2.5-flash-preview-04-17
ImagePrompt="你是一个图像识别模型，你的工作是将收到的图像转化为详尽的文本描述信息，尽可能精准地还原识别图像里所有的内容和文字，注意排版和可能因模糊带来的错别字。"
ImageModelOutput=50000
ImageModelContent=100000
ImageModelThinkingBudget=20000
# 定义多模态模型异步请求上限，最小为1，设置为10则是每次最多异步请求10个图片。
ImageModelAsynchronous=10
